{% load static %}
<html>
<head>
  <title>Nate's Movie Club!</title>
  <link rel="stylesheet" href="{% static 'css/base_style.css' %}"></link>
</head>

<body>

<h1 id="title">Nate's Movie Club</h1>

<a href="{% url 'movie_club_app:homepage' %}" id='home'>Home</a>
<a href="{% url 'movie_club_app:film_list' %}" id='films'>NMC's Films Watched</a>
<a href="{% url 'movie_club_app:cafe_list' %}" id='cafes'>Cafe Search</a>
<a href="{% url 'movie_club_app:meeting_list' %}" id='meetings'>Meetings</a>

{% if user.is_authenticated %}
  <span id='welcome_user_msg'>You are logged in, <a href="{% url 'movie_club_app:user_profile' user_pk=user.pk %}">{{ user.username }}</a>.  <a href="{% url 'movie_club_app:logout' %}">Logout</a></span>

{% else %}

  <span id='login_or_sign_up'><a href="{% url 'movie_club_app:login' %}?next={{ request.path }}">Login or sign up</a></span>

{% endif %}

<hr>

{% block content %}
{% endblock %}

</body>
</html>