{% extends 'movie_club_app/base.html' %}

{% block content %}

<h1>Films we have watched</h1>

<div id="searchForm">
  <P>Search our list of Films we have watched!!</p>
      <form action="{% url 'movie_club_app:film_list' %}">
        {{ form }}
        <input type='submit' value='Search'>
      </form>
</div>

<a href="{% url 'movie_club_app:add_film' %}" id='newFilm'>Add New Film</a>

{% for film in films %}
<div class="film" id="film_{{ film.pk }}">
<P><a href="{% url 'movie_club_app:film_page' film_pk=film.pk %}" id='filmTitle'>{{ film.title }}</a>, {{ film.rating }} out of 5</p>
</div>

{% empty %}
<P>No films listed</P>

{% endfor %}

{% endblock %}