#title {
    color: red;
    text-align: center;
    font-size: 72px;
    font-weight: bolder;
    background-image: url('../img/moviecoffee.jpg');
    background-size: 175px;
    padding: 15px 0 15px 0px;
}

body {
    background-color: darkgoldenrod;
}

#searchForm {
    border-style: inset;
    border-color: royalblue;
    background-color: limegreen;
}

#login_or_sign_up {
    border-style: outset;
    border-color: teal;
    background-color: rgb(253, 91, 177);
    padding-right: 25px;
    padding-left: 25px;
}

#welcome_user_msg {
    background-color: rgb(253, 91, 177);
    padding-right: 25px;
    padding-left: 25px;
    border-style: outset;
    border-color: teal;
}

#home {
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
    border-style: outset;
    border-color: teal;
}

#films {
    background-color: yellow;
    padding-right: 25px;
    padding-left: 25px;
    border-style: outset;
    border-color: teal;
}

#cafes {
    background-color: turquoise;
    padding-right: 25px;
    padding-left: 25px;
    border-style: outset;
    border-color: teal;
}

#meetings {
    background-color: palegreen;
    padding-right: 25px;
    padding-left: 25px;
    border-style: outset;
    border-color: teal;
}

#newFilm {
    background-color: moccasin;
    border-style: outset;
    border-color: darkslateblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#filmTitle {
    background-color: white;
    border-style: outset;
    border-color: firebrick;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#updateCafes {
    background-color: lime;
    border-style: outset;
    border-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#newMeeting {
    background-color: blanchedalmond;
    border-style: outset;
    border-color: seagreen;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#meetingPage {
    background-color: yellowgreen;
    border-style: outset;
    border-color: crimson;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#deleteMeeting {
    background-color: violet;
    border-style: outset;
    border-color: navy;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.meetingInfo {
    background-color: darkturquoise;
}