#title {
    color: red;
    text-align: center;
    font-size: 72px;
    font-weight: bolder;
    background-image: url('../img/moviecoffee.jpg');
    background-size: 175px;
    padding: 15px 0 15px 0px;
}

body {
    background-color: darkgoldenrod;
}

#login_or_sign_up {
    text-align: right;
    background-color: deeppink;
}

#welcome_user_msg {
    text-align: right;
    background-color: deeppink;
}

#home {
    background-color: white;
}

#films {
    background-color: yellow;
}

#cafes {
    background-color: turquoise;
}

#meetings {
    background-color: palegreen;
}

#newFilm {
    background-color: moccasin;
}

#filmTitle {
    background-color: white;
}

#updateCafes {
    background-color: lime;
}

#newMeeting {
    background-color: blanchedalmond;
}

#meetingPage {
    background-color: yellowgreen;
}

#deleteMeeting {
    background-color: violet;
}